SEAWEED_FS_URL=http://seaweedfs:8333
SERVER_URL=http://127.0.0.1:8085
USER_APP_URL=http://127.0.0.1:8081
AUTH_APP_URL=http://127.0.0.1:8082
MESSAGES_APP_URL=http://127.0.0.1:8083
SEAWEED_FS_KEY=seaweedfskey
SEAWEED_FS_SECRET=seaweedfssecret
SEAWEED_MAIN_BUCKET=mainbucket
SEAWEED_REGION=us-east-1